# Misc
netmiko==4.6.0
PyYAML==6.0.3
Jinja2==3.1.6

# Netbox plugins
netbox-bgp==0.18.0
netbox-data-flows==1.5.0
netbox-initializers==4.4.0
netbox-plugin-dns==1.5.1
netbox-secrets==2.4.2
netbox-topology-views==4.5.0
