# Misc
netmiko==4.5.0
PyYAML==6.0.2
Jinja2==3.1.6

# Netbox plugins
netbox-bgp==0.15.0
netbox-config-diff==2.9.0
netbox-data-flows==1.1.0
netbox-initializers==4.2.0
netbox-plugin-dns==1.2.6
netbox-secrets==2.2.0
netbox-topology-views==4.2.0
