gnocchiclient
osc-placement
python-barbicanclient
python-cinderclient
python-cloudkittyclient
python-designateclient
python-glanceclient
python-heatclient
python-ironicclient
python-keystoneclient
python-magnumclient
python-manilaclient
python-masakariclient
python-mistralclient
python-neutronclient
python-novaclient
python-octaviaclient
python-openstackclient
python-swiftclient
python-troveclient
python-watcherclient
