aodhclient
gnocchiclient
keystoneauth-oidc
osc-placement
prometheus-client
python-barbicanclient
python-blazarclient
python-ceilometerclient
python-cinderclient
python-cloudkittyclient
python-congressclient
python-designateclient
python-freezerclient
python-glanceclient
python-glareclient
python-heatclient
python-ironic-inspector-client
python-ironicclient
python-karborclient
python-keystoneclient
python-kingbirdclient
python-magnumclient
python-manilaclient
python-masakariclient
python-mistralclient
python-monascaclient
python-muranoclient
python-neutronclient
python-novaclient
python-octaviaclient
python-openstackclient
python-qinlingclient
python-rsdclient
python-saharaclient
python-searchlightclient
python-senlinclient
python-smaugclient
python-solumclient
python-swiftclient
python-tackerclient
python-troveclient
python-vitrageclient
python-watcherclient
python-zaqarclient
python-zunclient
skydive-client
tricircleclient
