---
name: Build pulp container image

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
  push:
    paths: &paths
      - .github/workflows/build-pulp-container-image.yml
      - pulp/**
    branches:
      - main
  pull_request:
    paths: *paths

jobs:

  build-pulp-container-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 3.103.1  # renovate: datasource=docker depName=quay.io/pulp/pulp-minimal
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: github.ref == 'refs/heads/main'

      - name: Build container image
        run: scripts/build.sh
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE: pulp
          REPOSITORY: osism/pulp
          VERSION: ${{ matrix.version }}

      - name: Push container image
        run: |
          scripts/push.sh
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          DTRACK_API_KEY: ${{ secrets.DTRACK_API_KEY }}
          DTRACK_SERVER: ${{ secrets.DTRACK_SERVER }}
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          IMAGE: pulp
          REPOSITORY: osism/pulp
          VERSION: ${{ matrix.version }}
        if: |
          github.repository == 'osism/container-images' &&
          github.ref == 'refs/heads/main'
