---
name: Build admin-toolbox container image

"on":
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/build-admin-toolbox-container-image.yml
      - admin-toolbox/**
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-admin-toolbox-container-image.yml
      - admin-toolbox/**

jobs:

  build-admin-toolbox-container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: github.ref == 'refs/heads/main'

      - name: Build container image
        run: scripts/build.sh
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE: admin-toolbox
          REPOSITORY: osism/admin-toolbox

      - name: Push container image
        run: |
          scripts/push.sh
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          DTRACK_API_KEY: ${{ secrets.DTRACK_API_KEY }}
          DTRACK_SERVER: ${{ secrets.DTRACK_SERVER }}
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE: admin-toolbox
          REPOSITORY: osism/admin-toolbox
        if: |
          github.repository == 'osism/container-images' &&
          github.ref == 'refs/heads/main'
