---
name: Build ara-server container image

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
  push:
    paths:
      - .github/workflows/build-ara-server-container-image.yml
      - ara-server/**
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-ara-server-container-image.yml
      - ara-server/**

jobs:

  build-ara-server-container-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - latest
          - 1.5.8
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup docker
        uses: docker/setup-buildx-action@v2

      - name: Login to container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: github.ref == 'refs/heads/main'

      - name: Build container image
        run: scripts/build.sh
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE: ara-server
          REPOSITORY: osism/ara-server
          VERSION: ${{ matrix.version }}

      - name: Push container image
        run: |
          scripts/push.sh
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE: ara-server
          REPOSITORY: osism/ara-server
          VERSION: ${{ matrix.version }}
        if: |
          github.repository == 'osism/container-images' &&
          github.ref == 'refs/heads/main'
